[submodule "lib/RPIPicoDormantRTC"]
	path = lib/RPIPicoDormantRTC
	url = https://github.com/jondurrant/RPIPicoDormantRTC
[submodule "lib/AHTXX_PICO"]
	path = lib/AHTXX_PICO
	url = https://github.com/gavinlyonsrepo/AHTXX_PICO
[submodule "lib/RPIPicoWWSClient-RTOS"]
	path = lib/RPIPicoWWSClient-RTOS
	url = https://github.com/jondurrant/RPIPicoWWSClient-RTOS
[submodule "lib/Lab-Project-FreeRTOS-FAT"]
	path = lib/Lab-Project-FreeRTOS-FAT
	url = https://github.com/FreeRTOS/Lab-Project-FreeRTOS-FAT
[submodule "lib/FreeRTOS-FAT-CLI-for-RPi-Pico"]
	path = lib/FreeRTOS-FAT-CLI-for-RPi-Pico
	url = https://github.com/carlk3/FreeRTOS-FAT-CLI-for-RPi-Pico
